/o/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
/CPM_modules/

.idea/*
!.idea/codeStyles/
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
.vs/
.vscode/


cmake/CPM_*.cmake
